###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=
###< symfony/framework-bundle ###

SERVICE_NAME=

# NGINX
NGINX_PORT=

# MYSQL
MYSQL_HOST=mysql
MYSQL_DATABASE=
MYSQL_USER=root
MYSQL_PASSWORD=password
MYSQL_PORT=3338
###> doctrine/doctrine-bundle ###
DATABASE_URL="mysql://${MYSQL_USER}:${MYSQL_PASSWORD}@${MYSQL_HOST}:3306/${MYSQL_DATABASE}?serverVersion=mariadb-10.5.3"
###< doctrine/doctrine-bundle ###

TELEGRAM_API_HOST=https://api.telegram.org
TELEGRAM_BOT_TOKEN=

NEURAL_NETWORK_API_HOST=http://host.docker.internal:1234
NEURAL_NETWORK_API_KEY=
